.features9-layout186 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features9-text1 {
  z-index: 2;
  text-align: center;
}
 
.features9-text2 {
  z-index: 2;
  text-align: center;
}
 
.features9-text3 {
  color: #fbfbfb;
  display: inline-block;
}
 
.features9-text4 {
  color: #f3f3f3;
  display: inline-block;
}
 
.features9root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #000000;
  background-color: #131212;
}
