.stats1-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.stats1-container2 {
  align-self: center;
  align-items: flex-start;
}
 
.stats1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.stats1-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats1-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats1-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.stats1-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats1-container8 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats1-container9 {
  max-width: 50%;
}
 
.stats1-text21 {
  display: inline-block;
}
 
.stats1-text22 {
  display: inline-block;
}
 
.stats1-text23 {
  display: inline-block;
}
 
.stats1-text24 {
  display: inline-block;
}
 
.stats1-text25 {
  display: inline-block;
}
 
.stats1-text26 {
  display: inline-block;
}
 
.stats1-text27 {
  display: inline-block;
}
 
.stats1-text28 {
  display: inline-block;
}
 
.stats1-text29 {
  display: inline-block;
}
 
.stats1-text30 {
  display: inline-block;
}
 
.stats1-text31 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .stats1-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .stats1-container9 {
    width: 100%;
    max-width: 100%;
  }
}
 
@media(max-width: 479px) {
  .stats1-image {
    width: 100%;
  }
}
