.toast6-container {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  background-color: #040404;
}
 
.toast6-header {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.toast6-title {
  color: #fdfdfd;
  background-color: #000000;
}
 
.toast6-text {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .toast6-header {
    gap: var(--dl-layout-space-unit);
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }
}
